body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h3 {
    clear: both;
}

a div, a img {
    background-color: rgb(231, 177, 139);
    float: left;
    border: 3px solid black;
    padding: 5px;
}

a div:hover, a img:hover {
    background-color: chocolate;
    border: 3px solid blue;
}

a img {
    width: 100px;
}