/*General*/
body {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding-top: 0px;
    max-width: 100vw;
    background-color: white;
    background-image: linear-gradient(yellow, white 200px);
}

.index_header, .Psalm_header, header {
  text-align: center;
  margin-top: 0px;
  width: 100%;
  background-color: rgb(255, 255, 0);
}

.index_SiteName img, .Psalm_SiteName img {
  width: 20%;
}



.IntroHowTo {
    width: 90%;
    padding-left: 20px;
}
footer {
    background-color: #97971e;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.footerDIV {
  float: left;
  width: 25%;
  padding: 50px;
   }
.indexMain {
    margin: 50px;
    padding: 20px;
}
.PsalmPageLink {
    background-color: rgb(255, 255, 210);
    padding: 50px;
  float: left;
  margin: 5px;
  border-radius: 10px;
  font-size: 25px;
  border: 2px solid red;
}
.PsalmPageLink:hover {
  border: 2px solid blue;
  background-color: rgb(255, 255, 173);
}
a {
    text-decoration: none;
    color: blue;
}




/* Psalm Pages */
/* Buttons For Levels */
.ButtonBox {
  float: right;
  width: 100px;
  padding: 20px;
  border: 2px solid green;
  overflow: hidden;

}
button {
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 5px;
    border-radius: 12px;
    border: 5px solid rgb(255, 130, 130);
}
button:hover {
    background-color: rgb(0, 174, 255);
}

.PsalmBox {
    font-size: 40px;
    margin: 100px;
  }

  .W:hover {
    background-color: yellow;
  }





/* Waves */
.wave-top {
    margin: 20px 0;
    background-image: url("https://the-sunshining.github.io/SunBible_IMG_Library/Main_IMG/wave-top.png");
    height: 166px;
    display: block;
    background-position: center;
  }
  .wave-bottom {
    margin: 20px 0;
    background-image: url("https://the-sunshining.github.io/SunBible_IMG_Library/Main_IMG/wave-bottom.png");
    height: 189px;
    display: block;
    background-position: center;
  }



  /* Scrollbar */
:root {
    /* --shadow: #860404; */
    --scrollbarBG: rgb(245, 241, 10);
    --thumbBG: #fb0202;
  }
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 20px;
    /* box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px rgb(14, 139, 255); */
  }
 /* Scrollbar */







 /* a a.button next psalm */
 a.button {
background-color: rgb(0, 255, 191);
padding: 20px;
color: black;
min-width: 100px;
}
a.button:hover {
  background-color: rgb(102, 102, 102);
}
.previous {
  position: absolute;
  left: 0px;
  text-align: right;
  border-radius: 0px 30px 30px 0px;
}
.next {
  position: absolute;
  right: 0px;
  border-radius: 30px 0px 0px 30px;
}
  /* a a.button next psalm */




  audio {
    background-color: aqua;
    width: 500px;
  }

