body {
	width: 99%;
max-width: 100%;
height: 100vh;
background-image: linear-gradient(rgb(242, 160, 245), rgb(83, 241, 104));
font-family: arial;
}
#all {
margin-left: 5px;
margin-right: 5px;
padding: 20px;
font-family: arial;
font-size: 20px;
}
img{
	max-width: 100%;
}
header {
    font-size: xx-large;
}
nav {
    position: absolute;
    right: 0px;
    width: 450px;
    background-color: rgb(255, 255, 124);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    padding: 20px;
    padding-right: 50px;
}
footer {
background-color: grey;
text-align: center;
font-family: arial;
font-size: 20px;
padding: 20px;
}
 a {
text-decoration: none;
font-family: 'Oswald', sans-serif;
 }
 a:hover {
	font-size: 25px;
}
   .HomeBookLinkBox {
 padding: 50px;
 background-color: yellow;
 float: left;
 margin: 20px;
 border: 5px solid black;
 }
   #newbooklink {
 padding: 50px;
 background-color: yellow;
 float: left;
 margin: 20px;
 border: 5px solid black;
 width: 25%;
 }
 #col {
 background-color: yellow;
 padding: 5px;
 margin-top: 2px;
 margin-bottom: 2px;
 color: black;
 text-decoration: none;
 float: left;
 clear: both;
 }
   #NCRnote {
 background-color: lightgray;
 border: 5px solid gold;
 padding: 20px;
 margin: 10px;
float: right;
width: 200px;
text-align: left;
 }
 #BibleMemorizationGuide{
  background-color: lightgreen;
 border: 5px dotted green;
 padding: 20px;
 margin: 10px;
float: left;
width: 200px;
text-align: left;
}
#NCRnoteINTRO {
	background-color: lightgray;
	border: 5px solid gold;
	padding: 20px;
	margin: 10px;
   float: left;
   width: 40%;
   text-align: left;
	}
	#BibleMemorizationGuideINTRO{
	 background-color: lightgreen;
	border: 5px dotted green;
	padding: 20px;
	margin: 10px;
   float: right;
   width: 40%;
   text-align: left;
   }
   .NCRnoteLOGO{
	   width: 100px;
   }
 #share {
  padding: 50px;
 background-color: yellow;
 margin: 20px;
 border: 5px solid black;
 }
 .SunBibleShareBox {
	padding: 50px;
   background-color: yellow;
   margin: 20px;
   border: 5px solid black;
   }


   #Job1 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job2 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job3 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job4 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job5 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job6 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job7 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job8 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job9 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job10 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job11 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job12 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job13 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job14 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job15 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job16 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job17 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job18 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job19 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job20 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job21 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job22 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job23 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job24 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job25 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job26 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job27 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job28 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job29 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job30 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job31 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job32 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job33 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job34 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job35 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   #Job36 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job37 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job38 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job39 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job40 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
     #Job41 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
    #Job42 {
       background-color: white;
       padding: 20px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
