body {
    background-image: url("https://sunshiningphotography.weebly.com/uploads/3/9/5/8/39587203/dscf4423.jpg");
	width: 99%;
max-width: 100%;
height: 100vh;
font-size: 20px;
font-family: arial;
}
img{
	max-width: 100%;
}
nav {
    position: absolute;
    right: 5%;
    top: 0px;
    width: 150px;
background-color: gray;
border-left: 5px solid yellow;
padding: 20px;
margin: 10px;
}
#all {
background-color: rgba(255, 255, 255, 0.685);
border-left: 5px solid green;
border-right: 5px solid green;
margin-left: 5%;
margin-right: 5%;
margin-top: 0px;
padding: 20px;
}
.Chapter {
   background-color: white; 
   font-size: 30px;
   padding: 20px;
}
.ChapterNumber {
    background-color: white;
    position: sticky;
    z-index: -1;
}
footer {
background-color: grey;
text-align: center;
font-family: arial;
font-size: 20px;
padding: 20px;
}
 a {
text-decoration: none;
font-family: 'Oswald', sans-serif;
background-color: white;
border: 1px solid blue;
padding: 1px;
 }
 a:hover {
	background-color: rgb(245, 236, 109);
}

   #NCRnote {
 background-color: lightgray;
 border: 5px solid gold;
 padding: 20px;
 margin: 10px;
float: right;
width: 200px;
text-align: left;
 }
 #BibleMemorizationGuide{
  background-color: lightgreen;
 border: 5px dotted green;
 padding: 20px;
 margin: 10px;
float: left;
width: 200px;
text-align: left;
}
 .SunBibleShareBox {
	padding: 50px;
   background-color: yellow;
   margin: 20px;
   border: 5px solid black;
   }