body {
    background-image: url("https://sunshiningphotography.weebly.com/uploads/3/9/5/8/39587203/dscf4423.jpg");
	width: 99%;
max-width: 100%;
height: 100vh;
font-size: 20px;
font-family: arial;
}
img{
	max-width: 100%;
}
nav {
    right: 5%;
    top: 0px;
    width: 500px;
background-color: rgb(241, 157, 157);
border-left: 5px solid yellow;
padding: 20px;
margin: 10px;
}
#all {
background-color: rgba(255, 255, 255, 0.685);
border-left: 5px solid green;
border-right: 5px solid green;
margin-left: 5%;
margin-right: 5%;
margin-top: 0px;
padding: 20px;
}
.Chapter {
   background-color: white; 
   font-size: 30px;
   padding: 20px;
   overflow: hidden;
}
.ChapterNumber {
    background-color: rgb(254, 255, 184);
    border-bottom: 1px solid yellow;
    position: sticky;
    top: 0px;
}
footer {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 5px solid black;
background-color: grey;
text-align: center;
font-family: arial;
font-size: 20px;
padding: 20px;
}
 a {
text-decoration: none;
font-family: 'Oswald', sans-serif;
background-color: white;
border: 1px solid blue;
padding: 1px;
 }
 a:hover {
	background-color: rgb(245, 236, 109);
}
 .SunBibleShareBox {
	padding: 50px;
   background-color: yellow;
   margin: 20px;
   border: 5px solid black;
   }






























/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Anton|Bangers|Bowlby+One+SC|Caveat|Patua+One|Playfair+Display|Righteous|Slabo+27px|Source+Code+Pro&display=swap');





   /* Special text: -Text that can be used
font-family: 'Oswald', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Righteous', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Patua One', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Slabo 27px', serif;
   */
   
.TheFearOfTheLord{
font-family: 'Patua One', cursive;
}
.MySon {
font-family: 'Bangers', cursive;
}
.Wisdom {
font-family: 'Oswald', sans-serif; 
 text-transform: uppercase;
}
.SUN {
font-family: 'Bowlby One SC', cursive;
}
.love {
font-family: 'Caveat', cursive; 
font-size: 40px;
font-weight: bold;
}
.bet-ter {
  font-family: 'Slabo 27px', serif;  
  font-size: 40px;
font-weight: bold;
}
.path, .way {
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}
.TheFearOfTheLord:hover, .MySon:hover, .Wisdom:hover, .SUN:hover, .love:hover, .bet-ter:hover, .path:hover, .way:hover {
background-color: yellow;
}
































/* Notes */

.NCRnoteBox {
    width: 300px;
  margin: 50px auto;
  background: #a3a3a1;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
 bottom: 50px;
  float: right;
}
.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;

}