body {
background-image: linear-gradient(white, yellow);
padding-left: 50px;
padding-right: 50px;
font-size: 25px;
font-family: 'Josefin Sans', sans-serif;
}
header {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 35px;
}
.BibleMemorizationGuideJames {
    background-color: #f7c497;
    border: 2px solid rgb(0, 255, 0);
    padding: 20px;
    width: 60%;
    position: absolute;
    right: 10px;
}
nav {
    width: 20%;
    background-color: yellow;
    border-left: 5px solid black;
    padding: 20px;
    line-height: 2;
}
nav:hover {
    background-color: wheat;
}

#pagelink {
    color: red;
    text-decoration: none;
    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}
#pagelink:hover {
    background-color: black;
}

button {
    margin: 5px;
    border-radius: 12px;
    border: 5px solid red;
}
button:hover {
    background-color: white;
}

.Shadow {
    text-shadow: 5px 10px 2px #93968f,
    -3px 6px 5px #e9fa00;
}


.JamesVersePic {
    width: 30%;
    float: left;
    background-color: green;
    padding: 10px;
    margin: 10px;
}
.JamesVersePic2 {
    width: 45%;
    float: left;
    background-color: green;
    padding: 10px;
    margin: 10px;
}


.NCRnote {
    float: right;
    background-color: lightyellow;
    border: 5px solid lightsalmon;
    padding: 20px;
}


#SunOnJamesPic{
    width: 200px;
float: left;
}


#TestYourMemoryBox, .TestYourMemoryBox {
    float: right;
    width: 100px;
    background-color: #e9fa00;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
}

.TestYourMemoryInputDiv {
    background-color: white;
    border-radius: 25px;
    border: 5px dotted red;
    padding: 20px;
}
.Black {
    background-color: Black;
}

footer {
    text-align: center;
    background-color: #f7c497;
    padding: 20px;
    border-radius: 25px;
    line-height: 2;
}
footer:hover {
    background-color: #f7c49791;
}
.Fa {
    background-color: #f7c497;
    padding: 10px;
    border-radius: 20px;
    color: red;
    text-decoration: none;
}
.Fa:hover {
    background-color: black;
}