body {
background-image: linear-gradient(white, yellow);
padding-left: 50px;
padding-right: 50px;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
}
header {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 35px;
}
nav {
    float: right;
    width: 300px;
    background-color: yellow;
    border: 5px solid black;
    padding: 20px;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    font-size: 25px;
}
a:visited {
    color: purple;
}
button {
    margin: 5px;
    border-radius: 12px;
    border: 5px solid red;
}
button:hover {
    background-color: white;
}
.Shadow {
    text-shadow: 5px 10px 2px #93968f,
    -3px 6px 5px #e9fa00;
}
.JamesVersePic {
    width: 30%;
    float: left;
    background-color: green;
    padding: 10px;
    margin: 10px;
}
.JamesVersePic2 {
    width: 45%;
    float: left;
    background-color: green;
    padding: 10px;
    margin: 10px;
}
.NCRnote {
    float: right;
    background-color: lightyellow;
    border: 5px solid lightsalmon;
    padding: 20px;
}
.BibleMemorizationGuide {
    background-color: #f7c497;
    border: 2px solid rgb(0, 255, 0);
    padding: 20px;
}
.SunBibleShareBox {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid red;
}
#SunOnJamesPic{
    width: 200px;
float: left;
}
#TestYourMemoryBox {
    float: right;
    width: 100px;
    background-color: #e9fa00;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
}
footer {
    text-align: center;
    
}