/* Torah Style */
  body {
background-color: rgb(0, 0, 255);
font-family: arial;
}

img{
	max-width: 100%;
}
#all {
  margin-top: 100px;
background-color: white;
border-left: 5px solid purple;
border-right: 5px solid purple;
margin-left: 10px;
margin-right: 50px;
padding: 20px;
font-family: arial;
font-size: 20px;
}
footer {
max-width: 100%;
background-color: rgb(177, 108, 108);
text-align: center;
font-family: arial;
font-size: 20px;
padding: 20px;
margin: 20px;
}
 a {
text-decoration: none;
font-family: 'Oswald', sans-serif;
 }
 
 
   #NCRnote {
 background-color: lightgray;
 border: 5px solid gold;
 padding: 20px;
 margin: 10px;
float: right;
width: 200px;
text-align: left;
 }




 /* Book Link Style */
  .BookLinkBox {
      max-width: 100%;
float: left;
 padding: 50px;
 background-color: yellow;
 margin: 20px;
 border: 5px solid black;
 }
 #GenesisChapterSelection {
	 display: none;
 }
  #ExodusChapterSelection {
	 display: none;
 }
 #LeviticusChapterSelection  {
	 display: none;
 }
   #NumbersChapterSelection {
	 display: none;
 }
 #DeuteronomyChapterSelection  {
	 display: none;
 }



  /* The 10 Plague Notes Exodus */

  .The10Pintro {
    background-color: #ff65c3;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
  }
  .A10Pnote {
    border: 4px solid pink;
    background-color: #ff65c3;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
  }
  .E234 {
    width: 25%;
float: left;
  }
  .N567 {
    width: 25%;
float: left;
  }