body {
	max-width: 100vw;
}
#lifeheader {
	max-width: 100%;
 background-color: gray;
 padding: 5px; 
 text-align: center;
}
#headername {
padding: 10px;
padding-left: 50px;
padding-right: 5px;
background: yellow;
margin-left: 10px;
position: fixed;
}
#all { 
background: black;
 padding: 10px; 
 background-size: 100%;
  padding-bottom: 200px;
}
#most { 
background-color: white; 
border: 5px solid red; 
padding: 20px;
}
#mostgospel {
max-width: 100%; 
background-color: yellow; 
border: 5px solid red; 
padding: 20px;
}
#Luke2verse16 {
	width: 45%;
	float: right;
}
 footer {
font-size: 20px; 
background-color: rgb(250, 229, 114);
 text-align: center; 
 padding: 20px; 
 margin: 10px;
  font-family: arial;
 }
 p {
 font-family: arial;
 font-size: 20px;
 }
  h1 {
 font-family: arial;
 }
 div {
 font-family: arial;
  font-size: 20px;
 }
 	/* PhotoGoespelLink*/
 .GoespelPhotoLinkContainer {
	 max-width: 100%;
	 background-color: black;
	 margin: 1px;
	 max-height: 100%;
	 display: none;
 }
 .GoespelPhotoLink {
	 width: 20%;
	 float: left;
	 margin: 10px;
	 border: 5px solid black;
	}
	 .GoespelPhotoLink:hover { 
 border: 5px solid blue;
	 }
	/* PhotoGoespelLink*/
	/* Nav */
 #GospelLink {
 font-family: arial;
 color: black; 
 text-decoration: none;
 border: 2px solid black;
 margin: 10px;
 padding: 5px;
  border-radius: 25px;
  background-color: white;
 }
  #GospelLink:hover {
	  background-color: rgb(142, 142, 241);
  }
   .GospelLinkInLineNav {
	   float: left;
 font-family: arial;
 font-size: 50px;
 color: black;  
 border: 2px solid black;
 padding: 10px;
  margin: 5px;
  border-radius: 25px;
background-color: rgb(241, 142, 142);
 }
 .GLILN {
 text-decoration: none;
 }
  .GospelLinkInLineNav:hover {
	  background-color: rgb(248, 56, 56);
  }
  #LifeNav {
	  border-top: 5px solid black;
  text-align: center;
 width: 100%;
 position: fixed; 
 background-color: gold; 
 bottom: 1px;
 padding: 10px;
 padding-bottom: 40px;
 }
 	/* Nav */
 #lifeofjesusshare {
	 max-width: 100%;
 background-color: lightgreen;
 padding: 15px;
 border: 5px solid black;
 }
  #ChapterNumber {
 font-size: 40px;
 }
 .ChapterNumber {
	font-size: 40px;
	}
	/* Ncr notes -I am pic div boxes*/
    #NCRnote {
 background-color: lightgray;
 border: 5px solid gold;
 padding: 20px;
 margin: 10px;
float: right;
clear: both;
width: 200px;
text-align: left;
 }
 #BibleMemorizationGuide{
  background-color: lightgreen;
 border: 5px dotted green;
 padding: 20px;
 margin: 10px;
float: left;
width: 200px;
text-align: left;
}
.MemJes {
	  background-color: lightgreen;
 border: 5px dotted green;
 padding: 20px;
 margin: 10px;
max-width: 99%;
text-align: left;
}
.button {
    margin: 5px;
    border-radius: 12px;
    border: 5px solid red;
}
.button:hover {
    background-color: white;
}
.IAMphoto {
 border: 5px solid black;
 margin: 10px;
float: left;
width: 450px;
}
.IAMphoto4 {
 border: 5px solid black;
 margin: 10px;
float: left;
clear: left;
width: 450px;
}
img {
	max-width: 100%;
}
/*-I am pic div boxes */
 .IAMquicklinksbox {
	 width: 45%;
	 float: right;
	 background-color: chocolate;
	 padding: 20px;
	 margin: 20px;
 }
 
 
 .ChapterLinksBOX {
  background-color: lightyellow;
  padding: 5px;
  border: 5px solid black;
  width: 120px;
  float: left;
  margin: 20px;
 }
 .red{
	 color: red;
 }
 
 
 
    #Chapter {
 font-size: 20px;
 padding: 5px;
  background-color: white;
	}
	#Chapter1 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	   #Chapter2 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	#Chapter3 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter4 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter5 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter6 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	   #Chapter7 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	#Chapter8 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter9 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter10 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter11 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	   #Chapter12 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	#Chapter13 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter14 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter15 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter16 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	   #Chapter17 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	#Chapter18 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter19 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter20 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter21 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	   #Chapter22 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	#Chapter23 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter24 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter25 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter26 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	   #Chapter27 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
	#Chapter28 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter29 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}
		#Chapter30 {
 font-size: 20px;
 padding: 10px;
  background-color: white;
	}