/* For Jesus' words!!!! */
.red{
    color: red;
}
/* .red:hover {
    background-color: black;
} */


/* The Big thing ing this file might be the settings for the Jesus pages.  */

#JesusSettings {
    display: none;
}