header {
    display: none;
}
#divFORiframe {
    display: none;
}

#READNOW {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
justify-content: center;
align-items: center;
}

#READNOWlink {
    background-color: tomato;
    padding: 10%;
    border-radius: 50%;
    text-align: center;
}

#READNOWlink:hover {
    background: rgb(255, 0, 0);
}