body {
   background-image: url("https://i.imgur.com/p8EtNGk.jpg");
font-family: arial;
	width: 99%;
max-width: 100%;
height: 100vh;
}

header {
background-color: gray;
border-bottom: 5px solid yellow;
padding: 20px;
margin-bottom: 10px;
}

 /* Link Stuff and navigation */
 a {
text-decoration: none;
font-family: 'Oswald', sans-serif;
 }
  /* Link Stuff and navigation */


#all {
background: rgba(255, 255, 255, 0.5);
margin-left: 5%;
margin-right: 5%;
padding: 20px;
font-family: arial;
font-size: 20px;
}
.PaulBookChapter {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    margin-top: 100px;
    margin-bottom: 100px;
background-color: grey;
text-align: center;
font-family: arial;
font-size: 20px;
padding: 20px;
}
img{
	max-width: 100%;
}

/* Home page stuff
#OnMountPlan {
	width: 20%;
	background-color: rgb(4, 247, 247);
	color: black;
	padding: 20px;
	border: 5px solid black;
	float: left;
	margin: 10px;
}
#LongestPlan {
	width: 20%;
	background-color: rgb(229, 255, 0);
	color: black;
	padding: 20px;
	border: 5px solid black;
	float: left;
	margin: 10px;
}
#SunOnJames {
	width: 20%;
	background-color: rgb(255, 251, 0);
	color: black;
	padding: 20px;
	border: 10px dotted red;
	float: left;
	margin: 10px;
}
*/
   .HomeBookLinkBox {
 padding: 50px;
 background-color: yellow;
 float: left;
 margin: 20px;
 border: 5px solid black;
 }
  



 /* NCR notes and memory stuuf */

   #NCRnote {
 background-color: lightgray;
 border: 5px solid gold;
 padding: 20px;
 margin: 10px;
float: right;
width: 200px;
text-align: left;
 }
 #BibleMemorizationGuide{
  background-color: lightgreen;
 border: 5px dotted green;
 padding: 20px;
 margin: 10px;
float: left;
width: 200px;
text-align: left;
}
	#BibleMemorizationGuideINTRO{
	 background-color: lightgreen;
	border: 5px dotted green;
	padding: 20px;
	margin: 10px;
   float: right;
   width: 40%;
   text-align: left;
   }
   .NCRnoteLOGO{
	   width: 100px;
   }
   #NCRpNote{
    float: left;
     width: 300px;
     margin: 20px;
     padding: 20px;
     background-color: coral;
 }


 .SunBibleShareBox {
	padding: 50px;
   background-color: yellow;
   margin: 20px;
   border: 5px solid black;
   }
 .red {
	 color: red;
 }
  .ChapterSelection {
	display: none;  
  }



  /* This is the Table Style from here to here */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: lightyellow;
}
tr:nth-child(odd) {
  background-color: rgb(255, 224, 224);
}
td:hover {
  background-color: red;
}
th {
  background-color: yellow;
  color: black;
}
/* This is the Table Style from here to here */








 /* Scrollbar */
 :root {
  --shadow: #860404;
  --scrollbarBG: rgb(245, 241, 10);
  --thumbBG: #fb0202;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px rgb(14, 139, 255);
}
/* Scrollbar */




/* Fruit of the Spirit! */

.fruit:hover {
  background-color: #f19999;
}
.b_fruit:hover {
  background-color: #645656;
}