/*General*/
body {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}


  .W:hover {
    background-color: rgb(0, 0, 0);
  }










 /* a a.button next psalm */
 a.button {
background-color: rgb(0, 255, 191);
padding: 20px;
color: black;
min-width: 100px;
}
a.button:hover {
  background-color: rgb(102, 102, 102);
}
.previous {
  display: none;
  position: absolute;
  left: 0px;
  text-align: right;
  border-radius: 0px 30px 30px 0px;
}
.next {
  display: none;
  position: absolute;
  right: 0px;
  border-radius: 30px 0px 0px 30px;
}
  /* a a.button next psalm */


