body {
    /* background-color: tomato; */
    margin: 0px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}
iframe {
    height: 95vh;
    width: 100%;
}



/* header */
header {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2px;
}
header a img {
    width: 20px;
    border: 3px solid rgba(0, 0, 255, 0.555);
    margin-left: 20px;
}
header a img:hover {
    border: 3px solid blue;   
}



/* nav  */

.NavLink {
    position: fixed;
    top: 1px;
    right: 10px;
    z-index: 2;
}

nav {
display: none;
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
position: fixed;
top: 0px;
right: 0px;
bottom: 0px;
background-color: rgba(255, 0, 0, 0.777);
width: 500px;
overflow: auto;
}

/* What to read */
nav a {
 text-decoration: none;
}
#whatread_two a div {
	background-color: rgb(253, 253, 177);
	border: 3px solid yellow;
	float: left;
}
#whatread_two a div:hover {
	border: 3px solid blue;
	background-color: yellow;
}

nav img {
    width: 100px;
    border: 3px solid rgba(0, 0, 255, 0.555);
}
nav img:hover {
    border: 3px solid blue;
}



/* <!-- SunBible Audio Iframe !!! --> */
#SB-Audio-Iframe {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    height: 100vh;
    /* background-color: rgba(255, 255, 0, 0.77); */
    /* z-index: 1; */
    display: none;
    /* overflow: auto; */
}

#SB-Audio-Link-img {
    width: 20px;
    border: 3px solid rgba(0, 0, 255, 0.555);
    position: fixed;
    top: 5px;
    left: 49%;
    right: 49%;
    z-index: 5;
}
#SB-Audio-Link-img:hover {
    border: 3px solid blue;   
}