body {
    /* background-color: tomato; */
    margin: 0px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}
iframe {
    height: 95vh;
    width: 100%;
}



nav {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2px;
}
nav a img {
    width: 20px;
    border: 3px solid rgba(0, 0, 255, 0.555);
    margin-left: 20px;
}
nav a img:hover {
    border: 3px solid blue;   
}