* {
    box-sizing: border-box;
  }
  /* html,
  body {
    height: 100%;
    overflow: auto;
  } */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right, #1c87c9, #ffcc00); */
    background-color: rgba(255, 255, 0, 0.77);
    font-family: 'Ropa Sans', sans-serif;
    padding: 20px;
  }



  .slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 0;
  }

  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    /* max-height: 50vh; */
    padding: 20px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* z-index: 1; why? */
    /* overflow: scroll; */
  }

  
  /* .slider > a */
  .slider > a {
    display: inline-flex;
    /* width: 1.5rem;
    height: 1.5rem; */
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
    color: #1c87c9;
  }
  .slider > a:focus {
    background: #eee;
  }

  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }





  /* <div class="slider">
        <!-- <a href="#slide-1">1</a> -->
        <!-- <a href="#slide-2">2</a> -->
        <!-- <a href="#slide-3">3</a> -->
        <!-- <a href="#slide-4">4</a> -->
        <!-- <a href="#slide-5">5</a> -->
        <div class="slides">
          <div id="slide-1"><img src="img/b-screenshots/index-screenshot.png"/></div>
          <div id="slide-2"><img src="img/b-screenshots/index-screenshot.png"/></div>
          <div id="slide-3"><img src="img/b-screenshots/index-screenshot.png"/></div>
          <div id="slide-4"><img src="img/b-screenshots/index-screenshot.png"/></div>
          <div id="slide-5"><img src="img/b-screenshots/index-screenshot.png"/></div>
        </div>
      </div> */