/* body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
} */

nav h3 {
    clear: both;
}

nav a div, nav a img {
    background-color: rgb(231, 177, 139);
    float: left;
    border: 3px solid black;
    padding: 5px;
}

nav a div:hover, nav a img:hover {
    background-color: chocolate;
    border: 3px solid blue;
}

nav a img {
    width: 100%;
    max-width: 100%;

}




/* For actual webpages:  */



/* nav */


.NavLink {
	position: fixed;
		right: 50px;
		top: 0px;
		z-index: 2;
}

nav {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	display: none;
	width: 30%;
	background-color: rgba(128, 255, 0, 0.777);
    padding: 20px;
	z-index: 1;
    overflow: scroll;
}