/* Torah Style */
  body {
background: url(https://the-sunshining.github.io/sunshining-photography/docs/img/2020/bear_in_the_distance.jpg) no-repeat center center fixed; 
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
padding-top: 80px;
position: relative;
}

header {
  text-align: center;
  margin: 10px;
}
header img {
    border: 3px solid black;
  border-radius: 20px;
}

img{
	max-width: 100%;
}

#all {
  background-color: rgba(255, 255, 255, 0.500);
  margin: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  }
 #all h1 {
   text-align: center;
 }
.Chapter {
    border-radius: 10px;
  padding: 10px;
}
.Chapter:hover {
  background-color: white;
}
.Chapter h1 {
  text-align: center;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;

}
footer {
max-width: 100%;
background-color: rgb(177, 108, 108);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
padding: 20px;
margin: 20px;
}
 a {
text-decoration: none;
font-family: 'Oswald', sans-serif;
 }
 
 
   #NCRnote {
 background-color: lightgray;
 border: 5px solid gold;
 padding: 20px;
 margin: 10px;
float: right;
width: 200px;
text-align: left;
 }




 



  /* The 10 Plague Notes Exodus */

  .The10Pintro {
    background-color: #ff65c3;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
  }
  .A10Pnote {
    border: 4px solid pink;
    background-color: #ff65c3;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
  }
  .E234 {
    width: 25%;
float: left;
  }
  .N567 {
    width: 25%;
float: left;
  }


  .Torah_img_gal {
    text-align: center;
  }
  .Torah_img_gal img {
    border: 3px solid rgba(0, 0, 255, 0.555);
    border-radius: 15px;
  }
  .Torah_img_gal img:hover {
    border: 3px solid blue;
  }


  /* Up arrow style  */
  #up_arrow img {
margin-left: 95%;
position: sticky;
top: 10px;
z-index: 2;
width: 20px;
  }