/* css for bible */


#SUNBIBLE_bible {
    overflow-y: auto; /* Use 'auto' to enable scrolling only when necessary */
    padding-top: 0px;
}

.SUNBIBLE_bible_book_chapter h1 {
    position: sticky;
    top: 0px;
    background-color: var(--color-foreground);
    padding: 3px;
}
/* .SUNBIBLE_bible_book_chapter p {
 
} */

.verse_number {
    font-size: x-small;
}