/* css for bible */

#SUNBIBLE_bible {
    background-color: var(--color-foreground);
    color: black;
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
}