:root {
  /* main theme */
  --color-background: #FFC8C8;
  --color-foreground: #FFFFFF; /* Should be white for */
  --blend-mode: difference;
  --font-family: "Arial", sans-serif;
  --header-font-family: "Arial Rounded MT Bold", sans-serif;
  --font-size: 16px;
  
  /* red letters */
  --red-letters-color: #FF0000;
  --red-blend-mode: normal;
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  mix-blend-mode: var(--blend-mode);
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
}