body {
    background: url(https://github.com/the-sunshining/sunshining-photography/docs/img/2020/blob/7c449a7ec74a62951f4ecda90e16f2f22ff97eab/docs/img/cows/Cow_1.jpg?raw=true) no-repeat center center fixed; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header {
    background-color: rgba(255, 255, 255, 0.555);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
header a {
    background-color: rgba(255, 255, 0, 0.777);
    text-decoration: none;
}
header a:hover {
    background-color: rgba(255, 0, 0, 0.777);
}

div {
    background-color: rgba(255, 255, 255, 0.555);
    font-size: 20px;
    margin: 0px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    overflow: hidden;
}
div:hover {
    background-color: rgba(255, 255, 255, 0.777);
}
.red {
    color: red;
}



/* The_Productive_Series */
.The_Productive_Series iframe {
    float: right;
}
.The_Productive_Series a {
    background-color: rgba(255, 255, 0, 0.777);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.The_Productive_Series a:hover {
    background-color: rgba(255, 0, 0, 0.777);
}